Package: edit
Version: 0.70
Section: main
Priority: optional
Architecture: all
Depends: python-elementary, python-evas, python-ecore
Maintainer: Anthony Cervantes
Description: eDit (Main Menu Editor)
 A simple GUI to manipulate .desktop files and their contents.
 It will be extended to include configurations for menu structure.
